<section class="content-header">
      <h1>
        Users List
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Users List</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">                  
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">All Users</h3>
            </div>
            {{#if successMsg}}
              <div class="alert alert-success" id="result77">
                {{successMsg}}
              </div>
            {{/if}}
            <!-- /.box-header -->
            
            <div class="topbtn"><a href="/admin/user/add"><button type="button" class="btn bg-purple btn-rightad">ADD</button></a></div>
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Email Address</th>
                  <th>Mobile No.</th>
                  <th>Image</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    {{#each user}}
                     <tr>
                      <td>{{this.fname}} {{this.lname}}</td>
                      <td>{{this.email}}</td>
                      <td>{{this.mobile_no}}</td>
                      <td><img class="img-responsive" src="/user/thumbs/{{this.image}}" alt="User Image"></td>
                      <td>{{#if this.status }} Active {{else}} In-Active {{/if}}</td>
                      <td><a href="/admin/user/edit/{{this.id}}" >Edit</a>&nbsp;|&nbsp;<a href="/admin/user/delete/{{this.id}}" onclick="return confirm('Are you sure?')">Delete</a></td>
                    </tr>
                     {{/each}}               
                </tbody>
                
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>