<section class="content-header">
  <h1>
    CMS
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/dashboard">Dashboard</a></li>
    <li class="active">Cms - Add</li>
  </ol>
</section>

<section class="content">
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              
              <li class="active"><a href="#settings" data-toggle="tab">Cms - Add</a></li>
            </ul>
            <div class="tab-content">
            	
              	{{#if error_message}}
              	<div class="alert alert-danger" id="result77">
              	{{error_message}}
              	</div>
              	{{/if}}
               <div class="tab-pane active" id="settings">
                <form name="frmProfile" method="post" action="/admin/cms/add" class="form-horizontal" onsubmit="return validatecms()">
                  
                  <div class="form-group">
                    <label for="slag" class="col-sm-2 control-label">Slag</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="cms_slag" placeholder="Enter Slag Name" name="slag" value="{{body.slag}}" onkeyup="return cmsckhslagval(this.value)">
                      <span class="text-danger"></span>
                      <div class="alert alert-danger fade in alert-dismissable" id="cms_slag_error" style="display:none; margin-top:5px;">
                      </div>
                    </div>
                  </div>

                  <div class="form-group ">
                    <label for="title" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="cms_title" placeholder="Enter Title" name="title" value="{{body.title}}" onkeyup="return cmsckhtitleval(this.value)">
                      <span class="text-danger"></span>
                      <div class="alert alert-danger fade in alert-dismissable" id="cms_title_error" style="display:none; margin-top:5px;">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="short_description" class="col-sm-2 control-label">Short Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="cms_short_description" placeholder="Enter Short Description" name="short_description"  onkeyup="return cmsckhshortdescval(this.value)">{{body.short_description}}</textarea>
                      <span class="text-danger"></span>
                      <div class="alert alert-danger fade in alert-dismissable" id="cms_short_description_error" style="display:none; margin-top:5px;">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="full_description" class="col-sm-2 control-label">Full Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="textarea_id" placeholder="Enter Full Description" name="full_description"  onkeyup="return cmsckhfulldescriptionval(this.value)">{{body.full_description}}</textarea>
                      <span class="text-danger"></span>
                      <div class="alert alert-danger fade in alert-dismissable" id="cms_full_description_error" style="display:none; margin-top:5px;">
                      </div>
                    </div>
                  </div>

                  
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

</section>